In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits

In [2]:
missing_val = ["None"]
df = pd.read_csv('all_data.csv', na_values = missing_val)

/home/becode2/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (43) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.isnull().sum()

Locality                           0
Type of property                   0
Subtype of property                0
Price                            654
Number of bedrooms               549
                               ...
Surface of the dressing        18452
Surface of the veranda         18491
Terrace orientation            18472
Bike storage                   18411
Lighting with motion sensor    18479
Length: 80, dtype: int64

In [4]:
#df.duplicated(subset=None, keep='first')
#df[df.duplicated(subset=None, keep=False)]
df[df.duplicated()]

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Veranda,Barbecue,Surface of the garage,Water softener,Terrain width at the roadside,Surface of the dressing,Surface of the veranda,Terrace orientation,Bike storage,Lighting with motion sensor
309,1000 Brussels,flat,flat---apartment,295000,NaN,83 m²,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,1020 Laken,flat,loft,239500,4.0,213 m²,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,1020 Laken,house,residence,239500,4.0,213 m²,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,1020 Laken,flat,flat---apartment,179500,2.0,75 m²,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,1030 Schaarbeek,flat,flat---apartment,239000,2.0,80 m²,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18489,9991 Adegem,flat,flat---apartment,NaN,1.0,59 m²,Fully equipped,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18494,9991 Adegem,flat,flat---apartment,NaN,1.0,56 m²,Fully equipped,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18496,9991 Adegem,flat,flat---apartment,NaN,1.0,74 m²,Fully equipped,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18499,9991 Adegem,flat,flat---apartment,NaN,2.0,85 m²,Fully equipped,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18501,9991 Adegem,flat,flat---apartment,NaN,1.0,68 m²,Fully equipped,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_no_dupl = df.drop_duplicates(subset=None, keep='first', ignore_index = True)
df_no_dupl[df_no_dupl.duplicated()]

Empty DataFrame
Columns: [Locality, Type of property, Subtype of property, Price, Number of bedrooms, Livable surface, Kitchen equipment, Number of bathrooms, Number of toilets, Floor of appartment, Number of floors, Balcony, State of the property, Currently leased, Build Year, Availability, Surface bedroom 1, Furnished, Surface of living-room, Cellar, Surface kitchen, Entry phone, Elevator, Number of showers, Orientation of the front facade, Number of facades, Terrace, Surface terrace, Surface bedroom 2, Security door, Access for disabled, Sewer Connection, Frontage width, Gas, Office surface, Total land surface, Kitchen type, Garden, Surface garden, Surface bedroom 3, Garage, Number of garages, Diningroom, Surface of the diningroom, Dressing, Wash room, Air conditioning, Domotica, Alarm, Hammam/Sauna/Jacuzzi, Fireplace, Buildable surface, Ground depth, Surface of the cellar(s), Attic, Motorized garage door, Electronic key, Surface bedroom 4, Surface bedroom 5, Electric charging station, Number of parking spaces (indoor), Number of parking places (outdoor), Attic surface, Opportunity for professional, Surface of the bathroom(s), Adaptations for elderlies, Service apartment, Garden orientation, Rain water tank, Swimming pool, Veranda, Barbecue, Surface of the garage, Water softener, Terrain width at the roadside, Surface of the dressing, Surface of the veranda, Terrace orientation, Bike storage, Lighting with motion sensor]
Index: []

[0 rows x 80 columns]

In [6]:
df_no_dupl['Locality'].unique()
for vill in df_no_dupl['Locality'].unique():
    for vill2 in df_no_dupl['Locality'].unique():
        if vill[0:4] == vill2[0:4]:
            if vill != vill2:
                print(f"{vill} and {vill2}")

In [7]:
df_no_dupl.columns

Index(['Locality', 'Type of property', 'Subtype of property', 'Price',
       'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property',
       'Currently leased', 'Build Year', 'Availability', 'Surface bedroom 1',
       'Furnished', 'Surface of living-room', 'Cellar', 'Surface kitchen',
       'Entry phone', 'Elevator', 'Number of showers',
       'Orientation of the front facade', 'Number of facades', 'Terrace',
       'Surface terrace', 'Surface bedroom 2', 'Security door',
       'Access for disabled', 'Sewer Connection', 'Frontage width', 'Gas',
       'Office surface', 'Total land surface', 'Kitchen type', 'Garden',
       'Surface garden', 'Surface bedroom 3', 'Garage', 'Number of garages',
       'Diningroom', 'Surface of the diningroom', 'Dressing', 'Wash room',
       'Air conditioning', 'Domotica', 'Alarm', 'Hammam/Sauna/Jacuzzi',
       'Fireplace', 'Buildable surface', 'Ground depth',
       'Surface of the cellar(s)', 'Attic', 'Motorized garage door',
       'Electronic key', 'Surface bedroom 4', 'Surface bedroom 5',
       'Electric charging station', 'Number of parking spaces (indoor)',
       'Number of parking places (outdoor)', 'Attic surface',
       'Opportunity for professional', 'Surface of the bathroom(s)',
       'Adaptations for elderlies', 'Service apartment', 'Garden orientation',
       'Rain water tank', 'Swimming pool', 'Veranda', 'Barbecue',
       'Surface of the garage', 'Water softener',
       'Terrain width at the roadside', 'Surface of the dressing',
       'Surface of the veranda', 'Terrace orientation', 'Bike storage',
       'Lighting with motion sensor'],
      dtype='object')

In [8]:
all_cols = df_no_dupl.columns
colls_to_keep = ['Locality', 'Type of property', 'Subtype of property', 'Price',
       'Number of bedrooms', 'Livable surface', 'Kitchen equipment', 'Balcony',
       'State of the property', 'Furnished', 'Number of facades', 
       'Terrace', 'Surface terrace', 'Total land surface', 'Garden', 'Surface garden',
       'Fireplace', 'Swimming pool']
colls_to_drop = []
for item in all_cols:
    if item not in colls_to_keep:
        colls_to_drop.append(item)
df_18_base = df_no_dupl.drop(colls_to_drop, axis=1, inplace=False)
df_18_base

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Balcony,State of the property,Furnished,Number of facades,Terrace,Surface terrace,Total land surface,Garden,Surface garden,Fireplace,Swimming pool
0,1000 Brussels,flat,flat---apartment,333500,2.0,100 m²,Super equipped,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000 Brussels,flat,flat---apartment,379000,1.0,80 m²,Super equipped,NaN,Normal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000 Brussels,flat,flat---apartment,295000,2.0,80 m²,NaN,NaN,Normal,0.0,2.0,1.0,4 m²,NaN,NaN,NaN,NaN,NaN
3,1000 Brussels,flat,loft,635000,2.0,217 m²,Super equipped,NaN,Fully renovated,0.0,NaN,1.0,40 m²,NaN,NaN,NaN,NaN,NaN
4,1000 Brussels,flat,loft,595000,2.0,207 m²,NaN,NaN,Fully renovated,0.0,2.0,1.0,10 m²,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,9992 Middelburg,house,villa,675000,3.0,NaN,NaN,NaN,To be renovated,0.0,NaN,1.0,20 m²,2820 m²,1.0,NaN,NaN,NaN
18003,9992 Middelburg,house,villa,1450000,6.0,630 m²,NaN,NaN,Excellent,0.0,NaN,NaN,NaN,7693 m²,NaN,NaN,NaN,NaN
18004,9992 Middelburg,house,residence,695000,3.0,196 m²,Fully equipped,NaN,NaN,0.0,NaN,NaN,NaN,2940 m²,1.0,2940 m²,NaN,NaN
18005,9992 Middelburg,house,residence,420000,3.0,NaN,NaN,0.0,NaN,NaN,2.0,NaN,NaN,1664 m²,NaN,NaN,NaN,NaN
18006,9992 Middelburg,house,residence,NaN,4.0,NaN,NaN,NaN,New,NaN,4.0,NaN,NaN,2604 m²,NaN,NaN,NaN,NaN

In [11]:
#df['Kitchen equipment'].value_counts()
df_18_base = df_18_base.dropna(subset = ['Price', 'Number of bedrooms', 'Furnished'])
df_18_base['Swimming pool'] = df_18_base['Swimming pool'].fillna(0)
df_18_base.isna().sum()

Locality                     0
Type of property             0
Subtype of property          0
Price                        0
Number of bedrooms           0
Livable surface            854
Kitchen equipment         4946
Balcony                  10277
State of the property     1160
Furnished                    0
Number of facades         3496
Terrace                   5661
Surface terrace           6201
Total land surface        6230
Garden                    8176
Surface garden            8845
Fireplace                10332
Swimming pool                0
dtype: int64

In [10]:
df_18_base['State of the property'].value_counts()

Normal             3260
New                3019
Excellent          1882
To be renovated    1477
Fully renovated     217
Name: State of the property, dtype: int64

In [32]:
column_names = df.columns
print(column_names)

Index(['Locality', 'Type of property', 'Subtype of property', 'Price',
       'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property', 'Build Year',
       'Availability', 'Surface bedroom 1', 'Furnished',
       'Surface of living-room', 'Cellar', 'Surface kitchen', 'Elevator',
       'Number of showers', 'Orientation of the front facade',
       'Number of facades', 'Terrace', 'Surface terrace', 'Surface bedroom 2',
       'Gas', 'Total land surface', 'Kitchen type', 'Garden', 'Surface garden',
       'Surface bedroom 3', 'Garage', 'Number of garages', 'Diningroom',
       'Surface of the diningroom', 'Dressing', 'Electronic key',
       'Surface bedroom 4', 'Surface bedroom 5', 'Surface of the bathroom(s)',
       'Swimming pool', 'Surface of the dressing'],
      dtype='object')

In [33]:
colum_uniq = ['Type of property', 'Subtype of property', 'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property', 'Build Year',
       'Availability', 'Surface bedroom 1', 'Furnished',
       'Surface of living-room', 'Cellar', 'Surface kitchen', 'Elevator',
       'Number of showers', 'Orientation of the front facade',
       'Number of facades', 'Terrace', 'Surface terrace', 'Surface bedroom 2',
       'Gas', 'Total land surface', 'Kitchen type', 'Garden', 'Surface garden',
       'Surface bedroom 3', 'Garage', 'Number of garages', 'Diningroom',
       'Surface of the diningroom', 'Dressing', 'Electronic key',
       'Surface bedroom 4', 'Surface bedroom 5', 'Surface of the bathroom(s)',
       'Swimming pool', 'Surface of the dressing']

In [34]:
#subtype_of_property_unq_val = df['Subtype of property'].unique()
#print(subtype_of_property)

In [67]:
kitchen_unq_val = df['Kitchen equipment'].unique()
kitchen_unq_val

array(['Super equipped', 'None', 'Fully equipped', 'Partially equipped',
       'Not equipped'], dtype=object)

In [36]:
num_bedroom_unq_val = df['Number of bedrooms'].unique()
print(num_bedroom_unq_val)

['2' '1' '3' '4' 'None' '5' '6' '8' '14' '10' '9' '12' '13' '7' '16' '11'
 '20' '40' '23' '22' '15' '333']

In [37]:
df.loc[df['Number of bedrooms']=='333']    # they put wrong number of bedrom  3 bedrooms

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
15443,8650 Houthulst,house,residence,195000,333,155 m²,None,None,1,None,...,2,None,None,None,None,None,None,None,None,None

In [38]:
df.loc[df['Number of bedrooms']=='333']    # they put wrong number of bedrom  3 bedrooms

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
18,1000 Brussels,flat,flat---studio,180000,None,40 m²,Partially equipped,1,1,None,...,None,None,None,None,None,None,None,None,None,None
21,1000 Brussels,flat,flat---studio,165000,None,37 m²,None,1,1,2,...,None,None,None,None,None,None,None,None,None,None
33,1000 Brussels,flat,flat---studio,165000,None,40 m²,None,1,1,2,...,None,None,None,None,None,None,None,None,None,None
42,1000 Brussels,flat,flat---studio,185000,None,33 m²,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
45,1000 Brussels,flat,flat---apartment,165000,None,33 m²,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18102,9880 Aalter,flat,flat---apartment,226000,None,None,Fully equipped,1,1,None,...,1,None,None,None,None,None,None,None,None,None
18176,9900 Eeklo,house,residence,484273,None,164 m²,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18315,9940 Ertvelde,house,residence,195000,333,155 m²,None,None,1,None,...,None,None,None,None,None,None,None,None,None,None

In [39]:
df.loc[df['Number of bedrooms']=='None']

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Veranda,Barbecue,Surface of the garage,Water softener,Terrain width at the roadside,Surface of the dressing,Surface of the veranda,Terrace orientation,Bike storage,Lighting with motion sensor
18,1000 Brussels,flat,flat---studio,180000,None,40 m²,Partially equipped,1,1,None,...,None,None,None,None,None,None,None,None,None,None
21,1000 Brussels,flat,flat---studio,165000,None,37 m²,None,1,1,2,...,None,None,None,None,None,None,None,None,None,None
33,1000 Brussels,flat,flat---studio,165000,None,40 m²,None,1,1,2,...,None,None,None,None,None,None,None,None,None,None
42,1000 Brussels,flat,flat---studio,185000,None,33 m²,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
45,1000 Brussels,flat,flat---apartment,165000,None,33 m²,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18102,9880 Aalter,flat,flat---apartment,226000,None,None,Fully equipped,1,1,None,...,None,None,None,None,None,None,None,None,None,None
18176,9900 Eeklo,house,residence,484273,None,164 m²,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18315,9940 Ertvelde,house,residence,300000,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18366,9970 Kaprijke,flat,flat---apartment,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18396,9990 Maldegem,flat,flat---apartment,490000,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [40]:
df.describe()

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Veranda,Barbecue,Surface of the garage,Water softener,Terrain width at the roadside,Surface of the dressing,Surface of the veranda,Terrace orientation,Bike storage,Lighting with motion sensor
count,18507,18507,18507,18507,18507,18507,18507,18507,18507,18507,...,18507,18507,18507,18507,18507,18507,18507,18507,18507,18507
unique,900,2,15,2823,22,666,5,14,13,31,...,3,3,66,3,67,17,11,7,3,3
top,1050 Elsene,house,residence,None,2,None,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
freq,331,9625,8004,654,6209,2113,9500,12622,6940,13890,...,18056,18403,18122,18376,17544,18452,18491,18472,18411,18479

In [41]:
df.loc[df['Price'] == None]

Empty DataFrame
Columns: [Locality, Type of property, Subtype of property, Price, Number of bedrooms, Livable surface, Kitchen equipment, Number of bathrooms, Number of toilets, Floor of appartment, Number of floors, Balcony, State of the property, Currently leased, Build Year, Availability, Surface bedroom 1, Furnished, Surface of living-room, Cellar, Surface kitchen, Entry phone, Elevator, Number of showers, Orientation of the front facade, Number of facades, Terrace, Surface terrace, Surface bedroom 2, Security door, Access for disabled, Sewer Connection, Frontage width, Gas, Office surface, Total land surface, Kitchen type, Garden, Surface garden, Surface bedroom 3, Garage, Number of garages, Diningroom, Surface of the diningroom, Dressing, Electronic key, Surface bedroom 4, Surface bedroom 5, Surface of the bathroom(s), Swimming pool, Surface of the dressing]
Index: []

[0 rows x 51 columns]

In [7]:
freq_of_val = []
for name in column_names:
    if name in colum_uniq:
        freq_of_val.append(df[name].value_counts())
print(freq_of_val)

NameError: name 'column_names' is not defined

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18507 entries, 0 to 18506
Data columns (total 80 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Locality                            18507 non-null  object
 1   Type of property                    18507 non-null  object
 2   Subtype of property                 18507 non-null  object
 3   Price                               18507 non-null  object
 4   Number of bedrooms                  18507 non-null  object
 5   Livable surface                     18507 non-null  object
 6   Kitchen equipment                   18507 non-null  object
 7   Number of bathrooms                 18507 non-null  object
 8   Number of toilets                   18507 non-null  object
 9   Floor of appartment                 18507 non-null  object
 10  Number of floors                    18507 non-null  object
 11  Balcony                             18507 non-null  object
 12  State of the property               18507 non-null  object
 13  Currently leased                    18507 non-null  object
 14  Build Year                          18507 non-null  object
 15  Availability                        18507 non-null  object
 16  Surface bedroom 1                   18507 non-null  object
 17  Furnished                           18507 non-null  object
 18  Surface of living-room              18507 non-null  object
 19  Cellar                              18507 non-null  object
 20  Surface kitchen                     18507 non-null  object
 21  Entry phone                         18507 non-null  object
 22  Elevator                            18507 non-null  object
 23  Number of showers                   18507 non-null  object
 24  Orientation of the front facade     18507 non-null  object
 25  Number of facades                   18507 non-null  object
 26  Terrace                             18507 non-null  object
 27  Surface terrace                     18507 non-null  object
 28  Surface bedroom 2                   18507 non-null  object
 29  Security door                       18507 non-null  object
 30  Access for disabled                 18507 non-null  object
 31  Sewer Connection                    18507 non-null  object
 32  Frontage width                      18507 non-null  object
 33  Gas                                 18507 non-null  object
 34  Office surface                      18507 non-null  object
 35  Total land surface                  18507 non-null  object
 36  Kitchen type                        18507 non-null  object
 37  Garden                              18507 non-null  object
 38  Surface garden                      18507 non-null  object
 39  Surface bedroom 3                   18507 non-null  object
 40  Garage                              18507 non-null  object
 41  Number of garages                   18507 non-null  object
 42  Diningroom                          18507 non-null  object
 43  Surface of the diningroom           18507 non-null  object
 44  Dressing                            18507 non-null  object
 45  Wash room                           18507 non-null  object
 46  Air conditioning                    18507 non-null  object
 47  Domotica                            18507 non-null  object
 48  Alarm                               18507 non-null  object
 49  Hammam/Sauna/Jacuzzi                18507 non-null  object
 50  Fireplace                           18507 non-null  object
 51  Buildable surface                   18507 non-null  object
 52  Ground depth                        18507 non-null  object
 53  Surface of the cellar(s)            18507 non-null  object
 54  Attic                               18507 non-null  object
 55  Motorized garage door               18507 non-null  object
 56  Electronic key                      18507 non-null  object
 57  Surface bedroom 4                   18507 non-null  object
 58  Surface bedroom 5                   18507 non-null  object
 59  Electric charging station           18507 non-null  object
 60  Number of parking spaces (indoor)   18507 non-null  object
 61  Number of parking places (outdoor)  18507 non-null  object
 62  Attic surface                       18507 non-null  object
 63  Opportunity for professional        18507 non-null  object
 64  Surface of the bathroom(s)          18507 non-null  object
 65  Adaptations for elderlies           18507 non-null  object
 66  Service apartment                   18507 non-null  object
 67  Garden orientation                  18507 non-null  object
 68  Rain water tank                     18507 non-null  object
 69  Swimming pool                       18507 non-null  object
 70  Veranda                             18507 non-null  object
 71  Barbecue                            18507 non-null  object
 72  Surface of the garage               18507 non-null  object
 73  Water softener                      18507 non-null  object
 74  Terrain width at the roadside       18507 non-null  object
 75  Surface of the dressing             18507 non-null  object
 76  Surface of the veranda              18507 non-null  object
 77  Terrace orientation                 18507 non-null  object
 78  Bike storage                        18507 non-null  object
 79  Lighting with motion sensor         18507 non-null  object
dtypes: object(80)
memory usage: 11.3+ MB